{%- set external_urls = {
  'github': 'https://github.com/MolSSI/mmelemental',
  'github_issues': 'https://github.com/MolSSI/mmelemental/issues',
  'contributing': 'https://github.com/MolSSI/mmelemental/blob/master/CONTRIBUTING.md',
  'twitter': 'https://twitter.com',
  'discuss': 'https://discuss.pytorch.org',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://molssi.github.io/mmelemental',
  'features': 'https://pytorch.org/features',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
}
-%}
